<html>
<head>
    <meta charset="UTF-8">
</head>

<body>
        <section class="section" style="margin-top: 50px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-heading">
                        <h2 class="text-center head-title">MyChef</h2>
                        <h2 class="text-center head-title">Start Cooking With MyChef!</h2>
                        <h4 class="text-center text-muted">Laboratórios de Informática 4</h4>
                        <div class="section-line"></div>
                    </div>
                </div>
                <div class="row philosophy">
                    <div class="col-sm-6 philosophy-item" style="margin-top: 50px">
                        <h4 class="title"><i class="fa fa-graduation-cap title-icon" aria-hidden="true"></i> Main goals</h4>
                        This app purpose is to help those that don't know how to cook or to bake. This said, it separates a recipe in small steps so that the user can easily follow the process. In case of doubt, the app will try to give helpfull hints or start processes that help the preparation.
                    </div>
                    <div class="col-sm-6 philosophy-item" style="margin-top: 50px">
                        <h4 class="title"><i class="fa fa-dot-circle-o title-icon" aria-hidden="true"></i> Specifications</h4>
                        <ul>
                            <li>Browse recipes for desserts
                            <li>Help during every step of a recipe
                            <li>Generate a shopping list if needed
                            <li>Define a weekly menu of preparations
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="section team">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-heading" style="margin-top: 70px">
                        <h3 class="text-center head-title">Developers</h3>
                        <div class="section-line"></div>
                    </div>
                </div>
                <div class="text-center" style="margin-top: 30px">
                    <h6 class="text-center">Jo&atilde;o Pimentel (a80874)</h6>
                    <h6 class="text-center">Pedro Gon&ccedil;alves (a82313)</h6>
                    <h6 class="text-center"> Bruno Veloso (a78352)</h6>
                    <h6 class="text-center">Rodolfo Silva (a81716)</h6>
                    <h6 class="text-center">Jaime Leite (a80757)</h6>
                </div>
            </div>
        </section>
        <p align="right" style="margin-top: 170px"><a asp-controller="UserView" asp-action="getOpcoes">Back</a></p>
    </body>
</html>